[Unit]
Description=BaseballData.jp Player Roster Daily Timer
Requires=bbdata-roster.service

[Timer]
OnCalendar=*-*-* 04:10:00
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target