[Unit]
Description=BBData Deep Daily Collection Timer
Requires=bbdata-deep@%Y-%m-%d.service

[Timer]
OnCalendar=Asia/Tokyo *-*-* 04:45:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target